.movie__title {
  margin-top: 0;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

.movie__over {
  margin-top: 16px;
}

.movie__descr {
  margin-top: 16px;
  /* font-weight: 700; */
}

.movie__add {
  font-weight: 700;
  color: #bcc3ce;
  text-decoration: none;
}

.movie__add:not(:last-of-type) {
  margin-right: 16px;
}

.goback__btn {
  padding: 4px 8px;
  color: #333;
  background-color: #bcc3ce;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.movie__img {
  cursor: pointer;
}